.page-wrap {
  position: fixed;
  margin-top: 100px;
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content {
  padding: 50px 60px;
  margin: 0 auto;
  max-width: var(--max-page-width);
}

.spotify-data {
  padding: 20px;
}

.featured {
  margin: 0 0 30px 0;
}

.explore-result {
  display: grid;
  grid-template-columns: 130px 1fr 1fr 100px;
  border-bottom: 1px solid var(--secondary-blue);
  padding:15px;
  align-items: center;
}

.my-playlists-result {
  display: grid;
  grid-template-columns: 130px 1fr 1fr 70px 70px;
  border-bottom: 1px solid var(--secondary-blue);
  padding:15px;
  align-items: center;
}

.explore-result:hover, .my-playlists-result:hover {
  border-bottom: 1px solid var(--blue);
  box-shadow: 0 7px 15px #111;
}

.explore-result img, .my-playlists-result img {
  width: 110px;
  height: 110px;
}

.play {
  background-color: var(--bg-blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  padding: 6px 10px 4px 10px;
  color: white;
  font-size: .9rem;
  justify-self: flex-end;
  box-shadow: inset 2px 2px 5px black;
}

.edit {
  padding: .5rem 1rem;
  width: fit-content;
}

.play:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}