.header-bar {
  position: fixed;
  background-color: #111;
  padding: 0 20px;
  border-bottom: 5px solid var(--secondary-blue);
  box-shadow: 0 5px 12px #111;
  width: 100vw;
  z-index: 200;
}

.header-bar h1 {
  color: var(--blue);
}

.header-wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  width: 100%;
  max-width: var(--max-page-width);
  margin: 0 auto;
}

.nav-bar {
  width: 100%;
  min-width: 280px;
  max-width: 700px;
  display: flex;
  margin-top: 44px;
}

.nav-bar .nav-item {
  color: white;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  width: 100%;
  height: 50px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 998;
}

.nav-bar .nav-item:hover {
  color: var(--blue);
}

.nav-bar .nav-search {
  list-style: none;
}

.active {
  background-color: var(--secondary-blue);
}

.search-bar {
  position: relative;
  width:100%;
  min-width: 140px;
  max-width: 900px;
  border: 1px solid var(--secondary-blue);
  box-shadow: inset 3px 3px 5px #000;
  background-color: var(--bg-blue);
  padding: 5px;
  margin-top: 2rem;
}

.search-bar .search {
  color: white;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  background-color: var(--bg-blue);
}

.search-bar .search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--primary-blue);
  color: white;
}

.search-bar:hover {
  border: 1px solid var(--blue);
}

.search-bar input:focus {
  outline: 0;
}

.login-wrap {
  margin-top: 200px;
  display: grid;
  justify-items: center;
  gap: 3rem;
}

.login {
  display: grid;
  background-color: var(--primary-blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  width: 400px;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}

.logout {
  background-color: var(--primary-blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  width: 150px;
  height: 40px;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: .9rem;
  margin-bottom: 10px;
}

.login:hover, .logout:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.account {
  font-size: .8rem;
  text-align: center;
}

/*-----Search results dropdown-----*/
.search-results-wrap {
  display: none;
  background-color: var(--bg-blue);
  box-shadow: 0 5px 12px #111;
  padding: 1rem 2rem;
  z-index: 777;
  width:100%;
  min-width: 140px;
  max-width: 900px;
}

.show-search {
  display: block;
}

.search-result {
  font-size: .9rem;
  display: grid;
  grid-template-columns: 90px auto 80px 50px;
  gap: 1rem;
  padding: 15px 0;
  align-items: center;
  border-bottom: 1px solid var(--secondary-blue);
}

.search-result:hover {
  border-bottom: 1px solid var(--blue);
}

.add-to-playlist {
  position: relative;
  background-color: var(--bg-blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  padding: 6px 10px 4px 10px;
  color: white;
  font-size: .9rem;
  justify-self: flex-end;
  box-shadow: inset 2px 2px 5px black;
  width: fit-content;
}

.choose-playlist {
  display: none;
  color:white;
  background:var(--primary-blue);
  max-height: 350px;
  border-radius: 10px;
  position: absolute;
  z-index: 888;
  left:-250px;
  top:35px;
  box-shadow: 1px 1px 10px black;
  padding: 10px 20px;
  overflow-y: auto;
}

.choose-playlist h3 {
  padding: 10px;
}

.choose-playlist ul li {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid var(--secondary-blue);
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px 0;
}

.choose-playlist ul li:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.show-p {
  display: block;
}

.add-to-playlist:hover {
  color: var(--blue);
  border:1px solid var(--blue)
}