* {padding:0; margin:0; border:0; box-sizing: border-box;}

:root {
  --img-width: 70px;
  --img-width-mobile: 60px;
  --blue:rgb(58, 209, 255);
  --primary-blue:rgb(33, 37, 44);
  --secondary-blue:rgb(58, 67, 82);
  --bg-blue:rgb(23, 25, 29);
  --max-page-width: 1300px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
}

::-webkit-scrollbar-track {
  background-color: rgb(16, 17, 20);
}

button:hover {
  cursor: pointer;
}

body {
  color: white;
  background-color: var(--primary-blue);
  font-size: 16px;
  font-family: Arial, 'Helvetica', sans-serif;
  line-height: normal;
  overflow-x: hidden;
}