* {padding:0; margin:0; border:0; box-sizing: border-box;}

:root {
  --img-width: 70px;
  --img-width-mobile: 60px;
  --blue:rgb(96, 217, 251);
  --primary-blue:rgb(25 30 35);
  --secondary-blue:rgb(49 57 70);
  --bg-blue:rgb(9 12 18);
  --max-page-width: 1400px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
}

::-webkit-scrollbar-track {
  background-color: rgb(16, 17, 20);
}

button:hover {
  cursor: pointer;
}

body {
  color: white;
  font-size: 16px;
  font-family: Arial, 'Helvetica', sans-serif;
  line-height: normal;
  overflow-x: hidden;
}

.loading {
  display: grid;
  place-items: center;
}

.react-logo {
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}