.page-wrap {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgb(8 10 12) 0%, var(--primary-blue) 100%);
}

.main-content {
  padding: 50px 60px;
  margin: 0 auto;
  max-width: var(--max-page-width);
}

.featured {
  padding: 3rem 0;
}

.user-playlists-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, 235px);
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.result-large {
  position: relative;
  display: grid;
  grid-template-rows: max-content auto;
  background-color: var(--secondary-blue);
  box-shadow: 5px 5px 10px black;
  transition: background 200ms ease;
  border-radius: 0 0 6px 6px;
}

.user img {
  border: 3px solid var(--secondary-blue);
}

.result-large img:hover {
  border: 3px solid var(--blue);
}

.result-info {
  display: grid;
  grid-template-rows: max-content 1fr auto;
  gap: 1rem;
  padding: 1rem;
}

.result-large img:hover {
  cursor: pointer;
}

.result-large img { 
  width: 100%;
  aspect-ratio: 1;
 }

.result-large p { 
  justify-self: normal;
  max-height: 3.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.play, .edit-link, .unfollow, .remove {
  background-color: var(--bg-blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  width: 60px;
  height: 40px;
  color: white;
  font-size: .9rem;
  justify-self: flex-end;
  box-shadow: inset 2px 2px 5px black;
}

.play:hover, .edit-link:hover, .unfollow:hover, .remove:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.unfollow, .remove {
  width: 80px;
  justify-self: flex-start;
}

.edit-link {
  text-decoration:none;
  display: grid;
  align-items: center;
  text-align: center;
  justify-self: flex-start;
}

.result-large .add-to-playlist {
  justify-self: flex-end;
  width: 60px;
}

.artist h2 {
  margin-top: 2rem;
}

.artist-top-songs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
  width:100%;
  min-width: 140px;
}

/*-----Search results-----*/

.search-bar {
  position: relative;
  width:100%;
  min-width: 140px;
  max-width: 700px;
  border: 1px solid var(--secondary-blue);
  box-shadow: inset 3px 3px 5px #000;
  background-color: var(--bg-blue);
  padding: 5px;
  margin: 2rem 0;
}

.search-bar .search {
  color: white;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  background-color: var(--bg-blue);
}

.search-bar .search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--primary-blue);
  color: white;
}

.search-bar:hover {
  border: 1px solid var(--blue);
}

.search-bar input:focus {
  outline: 0;
}

.search-results-wrap {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
  width:100%;
  min-width: 140px;
}

.show-search {
  display: grid;
}

.result-small {
  font-size: .9rem;
  display: grid;
  grid-template-columns: 70px auto max-content 60px;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--secondary-blue);
  background-color: var(--secondary-blue);
}

.result-small .info {
  min-width: 100px;
}

.result-small .info > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-small:hover {
  border-bottom: 1px solid var(--blue);
}

.add-to-playlist {
  position: relative;
  background-color: var(--bg-blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  color: white;
  justify-self: center;
  box-shadow: inset 2px 2px 5px black;
}

.choose-playlist.showModal {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);
}

.choose-playlist {
  opacity: 0;
  color: white;
  background: #111;
  max-height: 350px;
  border-radius: 10px;
  position: absolute;
  z-index: 888;
  right: 0px;
  top: 35px;
  box-shadow: 1px 1px 10px black;
  padding: 1rem 2rem;
  overflow-y: auto;
  transition: all 200ms ease-in-out;
  pointer-events: none;
}

.choose-playlist h3 {
  padding: 10px;
}

.choose-playlist ul li {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid var(--secondary-blue);
  background: var(--primary-blue);
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px 0;
}

.choose-playlist ul li:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.close-playlist-btn {
  display: none;
}

.show-p {
  display: block;
}

.add-to-playlist:hover {
  color: var(--blue);
  border:1px solid var(--blue)
}

.artist-wrap {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1rem;
  justify-content: center;
}

.result-artist {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--secondary-blue);
  width: 250px;
  justify-items: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: border 200ms ease;
  border: 1px solid var(--secondary-blue);
}

.result-artist:hover {
  border: 1px solid var(--blue);
}

.result-artist img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}