@media only screen and (max-width: 899px){ 

  .login-wrap {
    padding: 0 30px;
  }

  .login {
    width: auto;
    min-width: 200px;
  }

  .page-wrap {
    top: 100px;
    height: calc(100vh - 215px);
    scrollbar-width: none;
  }

  .page-wrap::-webkit-scrollbar {
    display: none;
  }

  .main-content { padding: 2rem 1rem; }

  .featured { text-align: center; }
  .edit-heading { text-align: center; }

  .header-bar { padding: 0 .8rem; }

  .playlist-info-wrap {
    display: grid;
    gap: unset;
    justify-items: center;
    text-align: center;
  }

  .add-to-playlist {
    position: unset;
    font-size: 1rem;
  }

  .choose-playlist {
    transform: translateY(-100vh);
    top: 100px;
    left: 0;
    bottom: 115px;
    max-height: unset;
    position: fixed;
  }

  .choose-playlist h3 { padding: 2rem; }

  .choose-playlist ul li { 
    width: 100%; 
    padding: 1.5rem;
  }

  .close-playlist-btn {
    display: block;
    background: unset;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .user-playlists-header {
    justify-content: center;
  }

  .user-playlists-wrap {
    grid-template-columns: repeat(2, 50%);
    gap: .5rem;
  }

  .result-info { 
    gap: .5rem; 
    padding: .7rem;
    max-width: 300px; 
  }

  .result-large { 
    font-size: .8rem; 
    justify-items: center;
    text-align: center;
  }

  .result-large:hover { scale: unset; }

  .result-large img {
    width: 100%;
    max-width: 300px;
    height: 100%;
  }

  .artist-top-songs, .search-results-wrap {
    grid-template-columns: unset;
    gap: 1rem;
  }

  .show-hide-playlist-btn {
    bottom: 119px;
  }

  .artist-wrap {
    grid-template-columns: repeat(auto-fill, 150px);
  }

  .result-artist {
    width: 150px;
    padding: 1rem;
    font-size: .8rem;
  }

  .result-artist img {
    width: 100px;
    height: 100px;
  }

  .playlist-wrap {
    top: 100px;
    grid-template-columns: unset;
    overflow-y: auto;
    height: calc(100vh - 215px);
    width: unset;
    scrollbar-width: none;
  }

  .playlist-wrap::-webkit-scrollbar {
    display: none;
  }

  .playlist {
    justify-content: unset;
    background-color: var(--primary-blue);
    overflow-y: unset;
    height: 100%;
    padding: 10px;
  }

  .lyrics-wrap {
    display: none;
  }

  .song-wrap {
    overflow-y: unset;
    height: unset;
    width: 100vw;
    padding-bottom: unset;
  }

  .song-info {
    padding-bottom: 60px;
  }

  .song-category {
    min-width: 250px;
  }

  .draggable {
    grid-template-columns: 16px 60px auto 30px min-content;
    min-width: 300px;
    padding: .2rem;
    gap: .5rem;
  }

  .draggable .draggable-trackname {
    min-width: 160px;
  }         

  .draggable img {
    width: var(--img-width-mobile);
    height: var(--img-width-mobile);
  }

  .play-song-btn {
    height: var(--img-width-mobile);
  }

  .play-song-btn:hover ~ .play-song-tooltip {
    left: 30px;
    top: -15px;
  }

  .header-wrap {
    grid-template-columns: unset;
    gap: .7rem;
  }

  .nav-bar {
    margin-top: unset;
    min-width: 100px;
    grid-row: 2;
  }

  .nav-bar .nav-item {
    font-size: .9rem;
    height: unset;
  }

  .controls { 
    height: 120px;
    padding: .6rem; 
  }

  .shuffle-btn svg, .loop-btn svg, 
  .next-btn svg, .previous-btn svg,
  .volume-btn svg {
    width: 20px;
    height: 20px;
  }

  .play-btn svg { width: 30px; height: 30px; }

  .playback-wrap { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .current-info {
    display: none;
  }

  .player-btns {
    grid-row: 2;
    grid-column: span 4;
  }

  .timeline-seek {
    grid-row: 1;
    grid-column: span 4;
  }

  .devices-wrap {
    grid-column: 4;
    margin-right: unset;
  }

  .device-list {
    position: fixed;
    left: 0;
    right: unset;
    bottom: 118px;
    top: 0;
    width: 100%;
    justify-content: flex-start;
    padding: 2rem;
    grid-template-rows: 50px repeat(auto-fill, minmax(50px, 75px));
    transform: unset;
  }

  .device-list li {
    height: fit-content;
  }

  .search-songs-wrap {
    justify-content: center;
    justify-items: center;
  }

  .search-bar {
    height: fit-content;
  }

  .user-info {
    margin-top: .5rem;
  }

  .logout {
    margin-bottom: unset;
  }

  .playlist-update-message {
    bottom: 145px;
  }

  .create-playlist {
    grid-template-columns: unset;
    justify-content: center;
    justify-items: center;
  }

  .playlist-info {
    text-align: center;
  }

  .user-input-wrap {
    height: fit-content;
  }

  .user-input-wrap .save-changes {
    justify-self: center;
    width: 150px;
    height: 50px;
  }

  @media only screen and (max-width: 500px){ 
    .main-content {
      padding: 2rem .5rem;
    }

    .search-result {
      grid-template-columns: unset;
      grid-template-rows: repeat(4, auto);
      justify-items: center;
      text-align: center;
      font-size: .9rem;
    }

    .result-large {
      border: unset;
      box-shadow: unset;
    }

    .result-small {
      font-size: .8rem;
      grid-template-columns: 64px auto 40px 40px;
      gap: .5rem;
      padding: .7rem;
    }

    .result-small .play { width: 45px; }

    .user-input-wrap .edit-input{ min-width: 150px; }

    .edit-draggable {
      padding: .5rem;
      gap: .5rem;
      grid-template-columns: 10px 64px auto 20px 35px;
    }
  }
  
  .tooltip {
    display: none;
  }

}
