@media only screen and (max-width: 899px){ 

  .login-wrap {
    padding: 0 30px;
  }

  .login {
    width: auto;
    min-width: 200px;
  }

  .page-wrap {
    margin-top: 180px;
    height: calc(100vh - 280px);
  }

  .main-content {
    padding: 50px 10px;
  }

  .featured {
    text-align: center;
  }

  .playlist-info-wrap {
    display: grid;
    gap: unset;
    justify-items: center;
    text-align: center;
  }

  .explore-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .explore-result {
    grid-template-columns: unset;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    text-align: center;
    font-size: .9rem;
    gap: 1rem;
  }

  .explore-result h2 {
    grid-row: 1;
  }

  .user-playlists-header {
    justify-content: center;
  }

  .user-playlists-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .my-playlists-result {
    grid-template-columns:unset;
    grid-template-rows:1fr auto auto;
    justify-items: center;
    text-align: center;
    font-size: .9rem;
    gap: 1rem;
  }
  
  .my-playlists-result h2 {
    grid-row: 1;
    grid-column: span 2;
  }

  .my-playlists-result img {
    grid-row: 2;
    grid-column: span 2;
    width: 200px;
    height: 200px;
  }

  .my-playlists-result a {
    grid-row: 3;
    grid-column: 1;
    justify-self: end;
  }

  .my-playlists-result button {
    justify-self: start;
    grid-row: 3;
    grid-column: 2;
  }

  .my-playlists-result p {
    display: none;
  }

  .explore-result button {
    justify-self: center;
  }

  .playlist-wrap {
    top: 180px;
    grid-template-columns: unset;
    overflow-y: auto;
    height: calc(100vh - 300px);
    width: unset;
  }

  .playlist {
    background-color: var(--primary-blue);
    overflow-y: unset;
    height: 100%;
    padding: 10px;
  }

  .lyrics-wrap {
    display: none;
  }

  .song-wrap {
    overflow-y: unset;
    height: unset;
    width: 100vw;
    padding-bottom: unset;
  }

  .song-info {
    padding-bottom: 60px;
  }

  .song-category {
    min-width: 250px;
  }

  .draggable {
    grid-template-columns: 16px 60px auto 30px min-content;
    min-width: 300px;
    padding: .2rem;
    gap: .5rem;
  }

  .draggable .draggable-trackname {
    min-width: 160px;
  }         

  .draggable img {
    width: var(--img-width-mobile);
    height: var(--img-width-mobile);
  }

  .play-song-btn {
    height: var(--img-width-mobile);
  }

  .play-song-btn:hover ~ .play-song-tooltip {
    left: 30px;
    top: -15px;
  }

  .header-wrap {
    grid-template-columns: unset;
    grid-template-rows: auto auto auto;
    gap: 1rem;
  }

  .nav-bar {
    margin-top: unset;
    min-width: 100px;
    grid-row: 3;
  }

  .search-results-wrap {
    z-index: 999;
    padding: 10px;
  }

  .controls {
    padding: 1rem;
  }

  @media only screen and (max-width: 500px){ 
    .search-result {
      grid-template-columns: unset;
      grid-template-rows: repeat(4, auto);
      justify-items: center;
      text-align: center;
      font-size: .9rem;
    }

    .search-result h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .add-to-playlist, .play {
      justify-self: center;
    }
  }

  .search-bar {
    height: fit-content;
  }

  .user-info {
    grid-row: 1;
    justify-self: center;
    margin-top: 1rem;
  }

  .user-info span {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logout {
    margin-bottom: unset;
  }
}