.playlist-wrap {
  position: fixed;
  top: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
  transition: transform 400ms ease-in-out;
}

.hidden {
  display: none;
}

.hide {
  transform: translateY(100vh);
}

.song-category {
  display: grid;
  grid-template-columns: 40px 80px auto 60px;
  justify-self: center;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--secondary-blue);
  background: linear-gradient(180deg, var(--primary-blue) 0%, var(--bg-blue) 75%);
  padding: 1.2rem 10px;
  margin: 0 0 20px 0;
  font-size: .6rem;
}

.playlist {
  display: grid;
  background-color: var(--primary-blue);
  overflow-y: auto;
  border-top: 3px solid var(--secondary-blue);
  padding: 2rem;
  height: calc(100vh - 215px);
}

.playlist-info-wrap {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  padding: 2rem 0;
  max-width: 1000px;
}

.playlist-title, .playlist-desc {
  margin: 2rem 0;
  line-height: normal;
}

.playlist-art {
  min-width: 150px;
  max-width: 220px;
  aspect-ratio: 1;
  box-shadow: 4px 4px 10px #111;
}

.container {
  position: relative;
  justify-self: center;
  max-width: 1000px;
  width: 100%;
}

.draggable, .edit-draggable {
  position: relative;
  color: white;
  background-color: var(--secondary-blue);
  margin: 5px 0;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  display: grid;
  grid-template-columns: 18px 80px auto 40px 40px;
  align-items: center;
  justify-items: center;
  padding: 10px;
  cursor: move;
  gap: 10px;
  text-overflow: ellipsis;
  font-size: .9rem;
}

.draggable:hover, .edit-draggable:hover {
  background-color: var(--bg-blue);
}

.draggable h1, .edit-draggable h1 {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.draggable p, .edit-draggable p {
  font-size: .8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.draggable img, .edit-draggable img {
  width: var(--img-width);
}

.draggable img:hover {
  cursor: pointer;
}

.song-length {
  font-size: .8rem;
}

.draggable-trackname {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.remove-track-btn {
  position: relative;
  color: white;
  background: none;
  margin: 6px 4px 4px 4px;
}

.remove-track-btn:hover {
  color: rgb(216, 0, 0);
}

.play-song-btn {
  height: var(--img-width);
}

/*--edit-draggables--*/

.edit-draggable {
  grid-template-columns: 18px 80px auto 40px max-content max-content;
  padding-right: 20px;
  cursor: unset;
}

.edit-draggable .drag-icon {
  position: relative;
  height: 25px;
  width: 25px;
  cursor: move;
  margin: 5px;
}

.drag-icon svg{
  pointer-events: none;
  fill: white;
  background-color: var(--secondary-blue);
}

.drag-icon:hover svg{
  fill: var(--blue);
}

.edit-draggable:hover .drag-icon svg {
  background-color: var(--bg-blue);
}

/* Lyrics section */
.song-wrap {
  overflow-y: scroll;
  border-top: 3px solid var(--secondary-blue);
  background-color: var(--bg-blue);
  height: calc(100vh - 215px);
}

.lyrics-wrap {
  width: calc(100% - 80px);
  min-width: 350px;
  max-width: 800px;
  margin: -100px auto 2rem;
  background-color: var(--secondary-blue);
  padding: 2rem;
  z-index: 100;
  box-shadow: 0 0 12px #111;
  display: grid;
  justify-content: center;
  text-align: center;
}

.lyrics-title {
  margin-bottom: 20px;
}

.song-info {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding: 3rem 3rem 9rem;
  margin-bottom: 20px;
  background-color: var(--primary-blue);
  z-index: 90;
}

.album-large {
  width: 100%;
  min-width: 150px;
  max-width: 350px;
}

.song-info h2 { text-align: center; margin: 1rem 0; }

.song-info ul { display: grid; gap: 1rem; }

.song-info ul li { display: grid; grid-template-columns: 110px 1fr; }

.song-info ul li h3 { width: 120px; }

/*-----Drag & Drop-----*/

.clone {
  position: absolute;
  transform: translate(var(--x), var(--y));
  z-index:999;
  background-color: var(--bg-blue);
}

.selected { border: 1px solid var(--blue); }

.play-song-btn:hover ~ .play-song-tooltip {
  display: block;
  position: absolute;
  padding: 5px 10px;
  background-color: var(--primary-blue);
  color: var(--blue);
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  left: -7px;
  top: 35px;
}

.play-song-tooltip { display: none; }

.edit-playlist-wrap {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.edit-playlist-cover-img {
  width: 300px;
  box-shadow: 3px 3px 15px #111;
}

.edit-playlist-details {
  display: grid;
  gap: 2rem;
}

.play-song-btn:hover .tooltip {
  display: flex;
  top: 30px;
  left: 10px;
}